@charset "UTF-8";
/*CSS Document*/
/*general styles*/
body{
    margin:0;
    padding:0;
}
@font-face{
  font-family: BankGothic;
  src: url(fonts/bankgothicmedium.otf);
}
h3{
    font-family:'Yantramanav', sans-serif;
    font-size: 32px;
    margin: 0px;
    line-height: 1.5em;
    padding: 20px 20px 10px 20px;
    color: #FFFFFF;
}
h4{
    font-family:'Yantramanav', sans-serif;
    font-size: 26px;
    margin: 0px;
    line-height: 1.5em;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
}
p{
    font-family:'Yantramanav', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    margin: 0px;
    line-height: 1.5em;
    color: #FFFFFF;
    padding: 10px 10px 20px 20px;
}
li{
    font-family:'Yantramanav', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    color: #FFFFFF;
}
/*title page specific styles*/
    #title-page{ 
    width: 100%; 
    padding-top: 200px;
    color: #fff; text-align: right; 
} 
    #title-page h1 { 
    font-size: 5em; 
    text-shadow: 4px 4px #000;
    font-family: BankGothic, sans-serif;
    font-weight: bold;
    padding: 30px 20px 0px 0px;
    margin:0px;
    color: #fff;
   } 
    #title-page h3 { 
    font-size: 1.9em; 
    font-style: italic; 
    margin: 0 40px; 
    text-shadow: 2px 2px #000; 
    font-family:'Yantramanav', sans-serif;
    padding: 0px 20px 20px 0px;
    margin: 0px;
    color: #ffffff;
}
/*section styles*/
#splash{
    height: 775px;
    background: url(images/park.jpg) no-repeat center top fixed;
   	background-size: cover;  
}
#overview{
    background-color: #0C1438;
}
#coaching{
    background-color: #43485B;
}
#workshops{
    background-color: #243E8C;
}
/*#workshops{
    background: url(images/TLOUwallpaper.jpg) no-repeat center top fixed;
   	background-size: cover; 
}
#gamestext{
  color: #ffffff;
  background-color: rgba(0, 0, 0,.7);
}*/

#revisions{
    background-color: #0C1438;
}
#testimonials{
    background-color: #43485B;
}
#contact{
    background-color: #243E8C;
}
/*column styles*/
.left{
  float:left;
  width: 600px;
  position: relative;
  bottom: 15px;
}
.right{
  float: right;
  width: 550px;
  position: relative;
  bottom: 15px;
}
/*container styles*/
.container {
  width: 1200px; /* static width container always stays at this width no matter what the window size */
  margin: 0 auto;
  overflow: hidden;
}
#title-page{
  width:100%;
  margin: 0 auto;
  overflow: hidden;
}
/*navbar styles*/
#navbar{
	position: fixed; 
	top: 0;
	width: 100%;
	height:64px;
	background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}	

ul#menu {
	list-style: none; /* eliminates bullets */
	/* adjust padding top to adjust nav bar vertical position */
	padding-top: 0px;
} 
ul#menu li {
	float: left; /* changes list from vertical to horizontal */
	padding-bottom: 20px;
} 
ul#menu li a.button {
	font-size: 20px;
	text-decoration: none;
	/* this padding defines the size of the buttons */
	padding: 32px 27px 30px 27px; 
}
/* change button color when mouse hovers over */
ul#menu li a.button:hover {
	background-color: rgba(36, 62, 140, .2);
}
ul#menu li a.button:visited{
  color: #1E2333;
}
ul.list,{
  margin: 0px 0px 0px 30px;
}
/*image styles*/
img {
  border: 3px solid #43485B;
  float: right;
  margin: 20px;
  width: 200px;
  height: auto;
}
#copyright{
  float: left;
  margin: 0px 20px 0px 0px;
}
/*video styles*/
iframe{
  z-index: 1;
  margin: 10px 150px 0px 150px;
  
}
/*table styles*/
table{
  margin: 20px;
  border: 1px solid #000000;
}
th,td{
			border: 1px solid #000000;
		}
/*link styles*/
ul a:link {
	font-weight: bold;
	color: #0C1438;
	text-decoration: none;
}
a:link {
	font-weight: bold;
	color: red;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #106D8B;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
}