@charset "UTF-8";
/*CSS Document*/
/*general styles*/
body{
    margin:0;
    padding:0;
}
@font-face{
  font-family: BankGothic;
  src: url(fonts/bankgothicmedium.otf);
}
h2{
    font-family:'Yantramanav', sans-serif;
    font-size: 32px;
    margin: 0px;
    line-height: 1.5em;
    padding: 20px 20px 10px 20px;
    color: #FFFFFF;
}
h3{
    font-family:'Yantramanav', sans-serif;
    font-size: 26px;
    margin: 0px;
    line-height: 1.5em;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
}
.about, h3{
  text-align: center;
}
p{
    font-family:'Yantramanav', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    margin: 0px;
    line-height: 1.5em;
    color: #FFFFFF;
    padding: 10px 10px 20px 20px;
}
li{
    font-family:'Yantramanav', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    color: #FFFFFF;
}
/*title page specific styles*/
  .container2{
    width: 1410px;
    margin: 0 auto;
    overflow: hidden;
  }
    #title-page{
    padding-top: 200px;
    color: #fff; text-align: right;

}
    #title-page h1 {
    display: inline;
    font-size: 4.3em;
    text-shadow: 4px 4px #000;
    font-family: BankGothic, sans-serif;
    font-weight: bold;
    padding: 30px 20px 0px 0px;
    margin:0px;
    color: #fff;
   }
    #title-page h2 {
    font-size: 1.9em;
    font-style: italic;
    margin: 0 40px;
    text-shadow: 2px 2px #000;
    font-family:'Yantramanav', sans-serif;
    padding: 0px 20px 20px 0px;
    margin: 0px;
    color: #ffffff;
}
    #title-page img{
    float: left;
    height:70px;
    width: auto;
    display: inline;
    }

/*section styles*/
#splash{
    height: 775px;
    background: url(images/park.jpg) no-repeat center top fixed;
   	background-size: cover;
}
#overview{
    background-color: #0C1438;
}
#about{
    background: url(images/chairs.jpg) no-repeat center top fixed;
    background-size: cover;
}
#abouttext{
  color: #ffffff;
  background-color: rgba(0, 0, 0,.5);
}
#coaching{
    background-color: #0C1438;
}
/*#workshops{
    background: url() no-repeat center top fixed;
   	background-size: cover;
}
#gamestext{
  color: #ffffff;
  background-color: rgba(0, 0, 0,.7);
}*/
#testimonials{
  background: url(images/grad.jpg) no-repeat center top fixed;
  background-size: cover;
}
#testtext{
  color: #ffffff;
  background-color: rgba(0, 0, 0,.5);
}
#contact{
    background-color: #0C1438;
}
/*footer styles*/
#footer{
	width: 100%;
	height:60px;
	background-color: #0C1438;
  z-index: 2;

}
a#cc{
  position: relative;
  top: 5px;
  font-family:'Yantramanav', sans-serif;
  margin: 0px;
  line-height: 1.5em;
  color: #ffffff;
  font-size: 1em;
}
div.foot{
  position: relative;
  top: 15px;

}
#creativecommons{
  width: 1200px; /* static width container always stays at this width no matter what the window size */
  height: 60px;
  margin: 0 auto;
  overflow: hidden;
}
/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}
.fa:hover {
    opacity: 0.7;
}
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    float: right;
    margin-right: 10px;
}
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    float: right;
    margin-right: 10px;
}
/*column styles*/
.left{
  float:left;
  width: 600px;
  position: relative;
  bottom: 15px;
}
.right{
  float: right;
  width: 550px;
  position: relative;
  bottom: 15px;
}
/*container styles*/
.container {
  width: 1200px; /* static width container always stays at this width no matter what the window size */
  margin: 0 auto;
  overflow: hidden;
}
/*navbar styles*/
#navbar{
	position: fixed;
	top: 0;
	width: 100%;
	height:63px;
	background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

ul#menu {
	list-style: none; /* eliminates bullets */
	/* adjust padding top to adjust nav bar vertical position */
	padding: 0px;
  marign: 0px;
}
ul#menu li {
	float: left; /* changes list from vertical to horizontal */
	padding-bottom: 20px;
}
ul#menu li a.button {
	font-size: 20px;
  font-weight: bold;
	text-decoration: none;
	/* this padding defines the size of the buttons */
	padding: 32px 60px 30px 60px;
}
/* change button color when mouse hovers over */
ul#menu li a.button:hover {
	background-color: rgba(36, 62, 140, .2);
}
ul#menu li a.button:visited{
  color: #1E2333;
}
ul.list,{
  margin: 0px 0px 0px 30px;
}
/*footer styles*/
#copyright{
  float: left;
  height: 30px;
  width: auto;
  margin: 15px 10px 10px 20px;
}
/*video styles*/
iframe{
  z-index: 1;
  margin: 10px 150px 0px 150px;

}
/*table styles*/
table{
  margin: 20px;
  border: 1px solid #000000;
}
th,td{
			border: 1px solid #000000;
		}
/*link styles*/
ul a:link {
	font-weight: bold;
	color: #0C1438;
	text-decoration: none;
}
a:link {
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
}
